  <!-- Modal -->
 <div class="modal fade" id="myModal-forpassword" role="dialog">
    <div class="modal-dialog modal-sm" style="margin-top:120px;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-margin">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body test-font">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<a class="btn btn-block btn-social btn-facebook">
  <span class="fa fa-facebook facebook-icon"></span>
  Register with Facebook
</a>
<br>
<p style="color: #ccc;">_________________<span> OR </span>________________</p>
<br>
<h4>Forgot Your Password ?</h4>
<br>
  <div class="form-group email">
    <span class="fa fa-at"></span>
    <%= f.email_field :email, autofocus: true, class: 'form-control login_field_height', placeholder: 'Type your Email Address'  %>
  </div>
<br><br>
  <div class="form-group">
    <%= f.submit "Send me password instructions", class: "btn_login", style:"font-size:17px !important;" %>
  </div>
<% end %>

<br><br><br>
        </div>
        <div class="modal-footer">
        <p class="signup-footer">
         Have you account ? <%= link_to "Signin", popups_login_path,remote:"true", style:"color:#FF4500;",
         :type => :reset, "data-dismiss" => "modal", "aria-hidden" => "true" %>
        </p>
        </div>
      </div>
      </div>
      
    </div>
  </div>
