<div class="container">
  <div class="row">
    <div class="wrapper-reset-password">
      <div class="reg-heading"><p class="heading-name">Change your password</p></div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

          <br/>
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10 col-md-offset-1">

    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, class:"form-control", placeholder:"New password", autofocus: true, autocomplete: "off" %>
           </div>
          </div><br />
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10 col-md-offset-1">
    <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirm new password",autocomplete: "off" %>
  </div>
</div><br />
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10 col-md-offset-1">
    <%= f.submit "Change my password", class:"btn btn-ch-pass btn-lg" %>
  </div>
          </div>
<% end %>
      <br/>
</div>
  </div>
  </div>