%section#credit-content
  %section#ruby
    %section.detailed-syllabus
      .wrapper-inside
        %h3.title Listing registrations
        %table
          %thead
            %tr
              %th Plan
              %th Full name
              %th Company
              %th Email
              %th Contact
              %th{:colspan => "3"}
          %tbody
            - @registrations.each do |registration|
              %tr
                %td= registration.plan.name              
                %td= registration.full_name
                %td= registration.company
                %td= registration.email
                %td= registration.contact

